.idea
*.versionsBackup
.classpath
.project
.settings
generated-src
build
target
bin
temp
.gradle
.couscous
couscous.phar
violations-maven-plugin-example/code-climate-file.json
violations-maven-plugin-example/violations-file.json
.okhttpcache

